[submodule "externals/fidA"]
        path = externals/fidA
        url = https://github.com/CIC-methods/FID-A.git
[submodule "externals/fsl_mrs"]
	path = externals/fsl_mrs
	url = https://git.fmrib.ox.ac.uk/fsl/fsl_mrs.git
[submodule "externals/jbss"]
	path = externals/jbss
	url = https://github.com/arcj-hub/BasisSetSimulation.git
[submodule "externals/mrscloud"]
    path = externals/mrscloud
    url = https://github.com/shui5/MRSCloud.git
[submodule "externals/remy"]
	path = externals/remy
	url = https://github.com/agudmundson/mrs_in_mrs.git
