[submodule "remy"]
	path = externals/remy
	url = https://github.com/agudmundson/mrs_in_mrs
[submodule "fidA"]
	path = externals/fidA
	url = https://github.com/julianmer/FID-A-Fork.git
[submodule "jbss"]
	path = externals/jbss
	url = https://github.com/arcj-hub/BasisSetSimulation.git
